<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-documentpicker.DocumentPicker" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DocumentPicker</name>
    <description>Cordova DocumentPicker Plugin for IOS</description>
    <js-module name="DocumentPicker" src="www/DocumentPicker.js">
        <clobbers target="DocumentPicker" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DocumentPicker">
                <param name="ios-package" value="CDVDocumentPicker" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVDocumentPicker.h" />
        <source-file src="src/ios/CDVDocumentPicker.m" />
    </platform>
</plugin>